@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Yekan";
    src: url(./assets/yekan/YekanBakh-Thin.woff2);
    font-weight: 100;
    font-style: normal;
  }
  @font-face {
    font-family: "Yekan";
    src: url(./assets/yekan/YekanBakh-Light.woff2);
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "Yekan";
    src: url(./assets/yekan/YekanBakh-Bold.woff2);
    font-style: normal;
    font-weight: bold;
  }

  @font-face {
    font-family: "Yekan";
    src: url(./assets/yekan/YekanBakh-Regular.woff2);
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: "Yekan";
    src: url(./assets/yekan/YekanBakh-Medium.woff2);
    font-style: normal;
    font-weight: 500;
  }
  @font-face {
    font-family: "Yekan";
    src: url(./assets/yekan/YekanBakhFaNum-Black.woff2);
    font-style: normal;
    font-weight: 800;
  }

  * *::before,
  *::after {
    box-sizing: border-box;
  }

  a[class] {
    @apply text-['inherit'] no-underline;
  }

  img {
    @apply block h-auto max-w-full;
  }

  body {
    @apply font-['Yekan','sens-serif'];
  }
}

@layer utilities {
  .container-w {
    max-width: 76.312rem;
    margin: auto;
    padding-inline: 12px;
  }

  .question {
    @apply relative flex cursor-pointer items-center p-4 px-[.7rem];
  }

  .question::after {
    @apply absolute left-[.6rem] flex size-[35px] items-center justify-center rounded-full bg-green-700/50 text-[2.2rem] leading-[0] text-green-700;
    content: "\002B";
    transition: 0.2s;
  }

  .question.active::after {
    content: "\005f";
    padding-bottom: 0.5rem;
    @apply bg-gray-200/50 text-white;
  }

  .answercont {
    transition: 0.3s;
    @apply max-h-0 overflow-hidden;
  }

  .answer {
    @apply pb-5 pr-5 leading-[1.5rem];
  }

  .faq-container:has(.active) {
    @apply bg-green-600 text-white;
  }
}

@layer utilities {
  .radio {
    @apply relative mr-2 inline-block size-4 rounded-[50%] border-solid p-[9px] outline outline-1 outline-gray-300 content-none after:absolute after:left-[50%] after:top-[50%] after:size-[14px] after:-translate-x-1/2 after:-translate-y-1/2 after:rounded-[50%] after:bg-orange-400 after:opacity-0 after:transition-all;
  }

  .radio-hidden:checked + .radio::after {
    @apply opacity-100;
  }
  .radio-hidden:checked + .radio {
    @apply outline-2 outline-orange-400;
  }

  .radio-parent:has(.radio-hidden:checked) {
    @apply w-fit rounded-full bg-[#FEF7EB] p-2 pl-8 font-medium;
  }

  .active-pagination {
    @apply border-orange-400 text-orange-400;
  }
}
